<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body>
    <div class="container ">
      <div class="container border center">
          <p style="font-size:120%; margin-left:10px; margin-top: 1cm;">ค้นหาหนังสือ<p>
            <div class="row">
              <div class="col-sm-6">
                <div class="col-sm-6">
                  <p style="text-align: right;"><label for="name" >ชื่อ</label></p>
                </div>
                <div class="col-sm-6">
                  <input type="text" id="name" name="name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-2">
                  <p style="text-align: left;"><label for="type" >หมวดหมู่</label></p>
                </div>
                <div class="col-sm-10">
                  <input type="text" id="type" name="type">
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-sm-6">
                <div class="col-sm-6">
                  <p style="text-align: right;"><label for="namep" >ผู้แต่ง</label></p>
                </div>
                <div class="col-sm-6">
                  <input type="text" id="namep" name="namep">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-2">
                  <p style="text-align: left;"><label for="pice" >ราคา</label></p>
                </div>
                <div class="col-sm-10">
                  <input type="text" id="pice" name="pice">
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-sm-6">
                <div class="col-sm-6">
                  <p style="text-align: right;"><label for="namey" >ผู้ยืม</label></p>
                </div>
                <div class="col-sm-6">
                  <input type="text" id="namey" name="namey">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-2">
                  <p style="text-align: left;"><label for="date" >วันที่ยืม</label></p>
                </div>
                <div class="col-sm-10">
                  <input type="text" id="date" name="date">
                </div>
              </div>
            </div>
    
            <div class="row">
              <div class="col-sm-6 ">
                <button type="button">ค้นหา</button>
              </div>
    
              <div class="col-sm-6 ">
                <button type="button" class="margin-left:10%">ยกเลิก</button>
              </div>
            </div>
      </div>
        <br>
        <div class="row">
          <div class="col-sm-10"></div>
          <div class="col-sm-2"><button type="button" routerLink="/page2"></button></div>
      </div>
    
      <div class="container border ">
        <table border="1px">
          <tr>
            <th>ลำดับ</th>
            <th>ชื่อหนังสือ</th>
            <th>หมวดหมู่</th>
            <th>ชื่อผู้แต่ง</th>
            <th>ราคา</th>
            <th>ผู้ยืม</th>
            <th>วันที่ยีม</th>
          </tr>
        </table>
      </div>
    
    </div>
    
    
    </body>